[req]
prompt=no
distinguished_name = dn
req_extensions = ext
input_password = 12345678



[dn]
CN = APS
emailAddress = client@gmail.com
CN = APSPROJECT
OU = DIEM
O = UNISA
L = FISCIANO
ST = SALERNO
C = IT



[ext]