[req]
prompt=no
distinguished_name = dn
req_extensions = ext
input_password = 12345678



[dn]
CN = www.credentials.com
emailAddress = credentials@gmail.com
CN = CREDENTIALS
OU = CREDENTIALS
O = CREDENTIALS
L = MILANO
ST = MILANO
C = IT



[ext]
subjectAltName = DNS:www.credentials.com,DNS:credentials.com,DNS:*.credentials.com